version: '3.8'
services:
  # 1. Identity Provider
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.0
    command: start-dev
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HOSTNAME=localhost
      - KC_HOSTNAME_PORT=8080
    ports:
      - "8080:8080"
      - "4566:4566" # Expose LocalStack port via Keycloak's network
      - "5001:5000" # Expose Server port via Keycloak's network
    networks:
      - cloud-net

  # 2. AWS Cloud Simulator (STS + KMS)
  localstack:
    image: localstack/localstack:latest
    volumes:
      # Map your local script -> Into the container's auto-run folder
      - ./init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh
    environment:
      - SERVICES=sts,iam,kms
      - DEBUG=1
      - AWS_DEFAULT_REGION=us-east-1
    network_mode: service:keycloak
    depends_on:
      - keycloak

  # 3. Redis (mTLS enabled)
  redis:
    image: redis:alpine
    command: >
      --tls-port 6379 --port 0
      --tls-cert-file /certs/redis.crt
      --tls-key-file /certs/redis.key
      --tls-ca-cert-file /certs/ca.crt
      --tls-auth-clients yes
    volumes:
      - ./certs:/certs
    ports:
      - "6379:6379"
    networks:
      - cloud-net

  # 4. Database
  db:
    image: postgres:alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    networks:
      - cloud-net

  # 5. Backend Server
  server:
    build: ./server
    volumes:
      - ./certs:/certs
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DB_HOST=db
      - DB_NAME=mydb
      - DB_USER=user
      - DB_PASS=password
      - KEYCLOAK_URL=http://localhost:8080
      - LOCALSTACK_URL=http://localhost:4566
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    network_mode: service:keycloak
    depends_on:
      - redis
      - db
      - localstack
      - keycloak

networks:
  cloud-net:
