apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: cloud-demo
spec:
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: db
          image: postgres:alpine
          env:
            - name: POSTGRES_USER
              value: "user"
            - name: POSTGRES_PASSWORD
              value: "password"
            - name: POSTGRES_DB
              value: "mydb"
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: db-init
              mountPath: /docker-entrypoint-initdb.d/
      volumes:
        - name: db-init
          configMap:
            name: db-init
---
apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: cloud-demo
spec:
  selector:
    app: db
  ports:
    - port: 5432
      targetPort: 5432
