apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: cloud-demo
spec:
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image: server:latest # Assumes local image is loaded into cluster
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
            - name: DB_HOST
              value: "db"
            - name: DB_NAME
              value: "mydb"
            - name: DB_USER
              value: "user"
            - name: DB_PASS
              value: "password"
            - name: KEYCLOAK_URL
              value: "http://keycloak:8080"
            - name: LOCALSTACK_URL
              value: "http://localstack:4566"
            - name: AWS_DEFAULT_REGION
              value: "us-east-1"
            - name: AWS_ACCESS_KEY_ID
              value: "test"
            - name: AWS_SECRET_ACCESS_KEY
              value: "test"
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: server
  namespace: cloud-demo
spec:
  selector:
    app: server
  ports:
    - port: 5000
      targetPort: 5000
